
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: "Montserrat", sans-serif;
    background: linear-gradient(to left, #00c4d7, #007bff);
}

header {
    position: relative;
    padding: 0 20px;
    background-color: #00c4d7;
}

.logo {
    display: flex;
    align-items: center;
    justify-content: space-between;
    gap: 10px; 
    
    
}


.logo img {
    width: 100px;
}

.login-button {
   
    top: 20px;
    right: 20px;
    background-color: white;
    color: #012b58;
    border: none;
    border-radius: 10px;
    width: 145px;
    padding: 10px 20px;
    font-size: 1rem;
    cursor: pointer;
    box-shadow: 0px 2px 4px rgba(0, 0, 0, 0.2);
}
.button-menu {
    display: flex;
    justify-content: flex-end; 
    align-items: center;
    gap: 10px; 
}


.search-bar {
    width: 200px;
    padding: 10px;
    border-radius: 20px;
    border: none;
}

button, .login-btn {
    background-color: white;
    color: #00A4CC;
    padding: 10px 20px;
    border: none;
    border-radius: 20px;
    cursor: pointer;
}

.hero {
    position: relative;
    text-align: center;
}

.hero-image {
    width: 100%;
    height: auto;
    
}

.hero-title {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    font-size: 4rem;
    color: white;
}

.nav-bar {
    
    padding: 15px;
    text-align: center;
    
}

.nav-bar ul {
    list-style-type: none;
    
}

.nav-bar ul li {
    display: inline;
    margin: 0 20px;
    padding-bottom: 10px;
    border-bottom: 3px solid #ffffff;
}

.nav-bar ul li a {
    color: white;
    text-decoration: none;
    font-size: 1.2rem;
}

.nav-bar ul li a:hover {
    color: #012b58;
    padding-bottom: 9px;
    border-bottom: 3px solid #012b58;
}

.description {
    padding: 30px;
    text-align: center;
    font-size: 20px;
    color: #333;
    max-width: 1100px;
    margin: 0 auto;
    line-height: 1.6;
}


.menu-btn {
    background: none;
    border: none;
    cursor: pointer;
    font-size: 2rem;
    color: white;
}

.side-menu {
    position: fixed;
    top: 0;
    left: -250px;
    width: 250px;
    height: 100%;
    background-color: #00A4CC;
    padding: 20px;
    transition: 0.3s; 
    z-index: 1000; 
}

.side-menu.open {
    left: 0;
}

.close-btn {
    background: none;
    border: none;
    color: white;
    font-size: 1.5rem;
    float: right;
    cursor: pointer;
}

.side-menu ul {
    list-style: none;
    padding: 0;
    margin: 20px 0;
}

.side-menu ul li {
    margin: 20px 0;
}

.side-menu ul li a {
    color: white;
    text-decoration: none;
    font-size: 1.2rem;
}

.contenedor-txt {
    background-color: rgba(255, 255, 255, 0.712);
    border-radius: 30px;
    padding: 20px;
}

footer {
    background-color: #00c4d7;
    color: #ffffff;
    padding: 20px;
    display: flex;
    justify-content: space-between;
}

